<section class="about container">
    <h1 class="text-center mb-5">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eos minima inventore aut sed iure necessitatibus quas harum? Iure fugiat saepe officiis animi facilis perspiciatis delectus ab ad velit quam.

    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eos minima inventore aut sed iure necessitatibus quas harum? Iure fugiat saepe officiis animi facilis perspiciatis delectus ab ad velit quam.
        
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eos minima inventore aut sed iure necessitatibus quas harum? Iure fugiat saepe officiis animi facilis perspiciatis delectus ab ad velit quam.
        
    </p>
    <div class="follow">
        <h1>Follow us on!</h1>
        <a href="#">Facebook</a>
        <a href="#">YouTube</a>
        <a href="#">Google</a>
        <a href="#">Instagram</a>


    </div>
</section>
